/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 6px;
  background: #fff;
}
.country {
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
}
