/* Add your own CSS code below */
/*First*/
.countries--first {
  display: flex;
  flex-direction: row-reverse;
}
/*Second*/
.countries--second {
  display: flex;
  flex-direction: column;
}
/*Third*/
.countries--third {
  display: flex;
  flex-direction: column-reverse;
}
